nav {
    background-color: var(--clr-bg);
    color: var(--clr-fg);
    position: fixed;
    z-index: 10;
    ul {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        gap: var(--space-2xs);
        li {
            list-style: none;
            width: 100%;
            a,
            button {
                display: inline-flex;
                color: inherit;
                width: 100%;
                text-decoration: none;
                gap: var(--space-3xs);
                align-items: center;
                border-radius: var(--border-radius);
                padding-block: var(--button-padding);
                padding-inline: calc(var(--button-padding) + 0.25rem);
            }
            a:not(.active-link):hover {
                background-color: color-mix(in oklch, black 50%, var(--clr-link) 50%);
            }
        }
    }
}

nav.sidebar {
    width: var(--sidebar-width);
    border: 1px solid black;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    ul {
        align-items: start;
        flex-direction: column;
        padding-right: 1rem;
    }
    .secondary-list {
        gap: var(--space-2xs);
        position: absolute;
        bottom: 0;
    }
}

nav.mobile-nav {
    width: 100%;
    top: auto;
    bottom: 0;
    display: flex;
    ul {
        padding: 0;
        justify-content: space-evenly;
        li {
            a,
            button {
                justify-content: center;
            }
        }
    }
    .primary-list {
        margin-inline-start: var(--space-2xs);
    }
    .secondary-list {
        flex-shrink: 2;
        margin-inline: var(--space-2xs);
    }
}

.active-link {
    background-color: black;
    color: white;
}

.bold {
    font-weight: 600;
}
